
machine-learning-ex6/ex6/octave-workspace
machine-learning-ex6/ex6/token.mat
machine-learning-ex7/.DS_Store
machine-learning-ex7/ex7/mypicture.m
machine-learning-ex7/ex7/piano.jpg
machine-learning-ex8/ex8/octave-workspace
machine-learning-ex8/ex8/token.mat
